<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span
      aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="exampleModalLabe">Respuestas</h4>
  </div>
  <div class="modal-body">
    <h2 class="text-center">{{answers.questionDescription}}</h2>
    <br>
    <ul ng-repeat="answer in answers.answersArray">
      <li><i ng-if="answer.isCorrect" class="zmdi zmdi-check-all"> {{answer.answerDescription}}</i> <i
        ng-if="answer.isCorrect == false" class="zmdi zmdi-close"> {{answer.answerDescription}}</i>

      </li>

    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
  </div>
</div>
