<div class="tile">
  <div class="t-body tb-padding">
    <div class="jumbotron">
      <h1>Contraseña Actualizada</h1>
      <p>Su contraseña de Lasa Capacitación Virtual ha sido actualizada correctamente. le mostramos este mensaje para garantizar la privacidad y seguridad de su cuenta.</p>
    </div>
  </div>
</div>
