<!-- Login -->
<div class="login-content">
  <div class="lc-block toggled" id="l-login">
    <form ng-submit="loginUsers(login)" name="formLoginUser" novalidate>
      <div class="lcb-float"><i class="zmdi zmdi-pin-account"></i></div>
      <div class="form-group"
           ng-class="{ 'has-error' : formLoginUser.userName.$invalid && !formLoginUser.userName.$pristine }">
        <input type="text" class="form-control" placeholder="Usuario" ng-model="login.user" name="userName" required>
        <p ng-show="formLoginUser.userName.$invalid && !formLoginUser.userName.$pristine"
           class="help-block">Este Campo es Requerido.</p>
      </div>
      <div class="form-group"
           ng-class="{ 'has-error' : formLoginUser.userPassword.$invalid && !formLoginUser.userPassword.$pristine }">
        <input type="password" name="userPassword" class="form-control" placeholder="Contraseña"
               ng-model="login.password" required>
        <p ng-show="formLoginUser.userPassword.$invalid && !formLoginUser.userPassword.$pristine"
           class="help-block">Este Campo es Requerido.</p>
      </div>
      <div class="form-group">
        <button type="submit"
                ng-class="{'btn btn-block btn-primary btn-float m-t-25 disabled m-progress':loading, 'btn btn-block btn-primary btn-float m-t-25':!loading}"
                ng-disabled="formLoginUser.$invalid">Iniciar Sesion
        </button>
      </div>
      <button type="button" data-toggle="modal" data-target="#recoverModal" class="btn btn-link">¿Has olvidado la
        contraseña?
      </button>
    </form>
  </div>
</div>

<div class="modal fade" id="recoverModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form ng-submit="recoveryUser(userRecover)" name="formRecoveryUser">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Recuperar Contraseña</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group"
                   ng-class="{ 'has-error' : formRecoveryUser.recoveryEmail.$invalid && !formRecoveryUser.recoveryEmail.$pristine }">
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                  <input name="recoveryEmail"
                         type="email"
                         ng-model="userRecover.email"
                         class="form-control"
                         placeholder="Correo electronico"
                         required>
                </div>
                <p ng-show="formRecoveryUser.recoveryEmail.$invalid && !formRecoveryUser.recoveryEmail.$pristine"
                   class="help-block">Ingrese un correo valido.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit"
                  ng-class="{'btn btn-primary disabled m-progress':recoverLoading, 'btn btn-primary':!recoverLoading}"
                  ng-disabled="formRecoveryUser.$invalid">Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
