<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="userData.modulesArray[5].isAvailable">
      <div class="offer offer-primary">
        <a ng-href="#!/users">
          <div class="offer-content">
            <h2 class="lead text-center">
              <i class="zmdi zmdi-accounts-alt zmdi-hc-5x"></i>
            </h2>
            <h2 class="text-center">
              Usuarios
            </h2>
          </div>
        </a>

      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="offer offer-primary">
        <a ng-href="#!/usersApp">
          <div class="offer-content">
            <h2 class="lead text-center">
              <i class="zmdi zmdi-dns zmdi-hc-5x"></i>
            </h2>
            <h2 class="text-center">
              Usuarios del app
            </h2>
          </div>
        </a>

      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="offer offer-primary">
        <a ng-href="#!/questions">
          <div class="offer-content">
            <h2 class="lead text-center">
              <i class="zmdi zmdi-help zmdi-hc-5x"></i>
            </h2>
            <h2 class="text-center">
              Preguntas
            </h2>
          </div>
        </a>

      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="offer offer-primary">
        <a ng-href="#!/news">
          <div class="offer-content">
            <h2 class="lead text-center">
              <i class="zmdi zmdi-alert-polygon zmdi-hc-5x"></i>
            </h2>
            <h2 class="text-center">
              Noticias
            </h2>
          </div>
        </a>

      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="offer offer-primary">
        <a ng-href="#!/readings">
          <div class="offer-content">
            <h2 class="lead text-center">
              <i class="zmdi zmdi-assignment zmdi-hc-5x"></i>
            </h2>
            <h2 class="text-center">
              Lecturas
            </h2>
          </div>
        </a>

      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="offer offer-primary">
        <a ng-href="#!/pushNotifications">
          <div class="offer-content">
            <h2 class="lead text-center">
              <i class="zmdi zmdi-notifications zmdi-hc-5x"></i>
            </h2>
            <h2 class="text-center">
              Notificaciones
            </h2>
          </div>
        </a>

      </div>
    </div>

  </div>
</div>


