<div class="modal-content">
    <form ng-submit="editUserModal(user)" name="formUsersEdit" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">Nuevo Usuario</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"
                         ng-class="{ 'has-error' : formUsersEdit.userName.$invalid && !formUsersEdit.userName.$pristine }">
                        <label>Nombres</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-face"></i></span>
                            <input type="text" class="form-control" name="userName"
                                   ng-init="user.userData.name = userObject.userData.name"
                                   ng-model="user.userData.name"
                                   placeholder="Nombres"
                                   required>
                        </div>
                        <p ng-show="formUsersEdit.userName.$invalid && !formUsersEdit.userName.$pristine"
                           class="help-block">Este Campo es Requerido.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group"
                         ng-class="{ 'has-error' : formUsersEdit.lastName.$invalid && !formUsersEdit.lastName.$pristine }">
                        <label>Apellidos</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-accounts-list-alt"></i></span>
                            <input type="text" class="form-control" name="lastName"
                                   ng-init="user.userData.lastName = userObject.userData.lastName"
                                   ng-model="user.userData.lastName"
                                   placeholder="Apellidos"
                                   required>
                        </div>
                        <p ng-show="formUsersEdit.lastName.$invalid && !formUsersEdit.lastName.$pristine"
                           class="help-block">Este Campo es Requerido.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"
                         ng-class="{ 'has-error' : formUsersEdit.userEmail.$invalid && !formUsersEdit.userEmail.$pristine }">
                        <label>Correo</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                            <input type="email" class="form-control" name="userEmail"
                                   ng-init="user.userData.email = userObject.userData.email"
                                   ng-model="user.userData.email"
                                   placeholder="Correo"
                                   required>
                        </div>
                        <p ng-show="formUsersEdit.userEmail.$invalid && !formUsersEdit.userEmail.$pristine"
                           class="help-block">Ingrese un correo valido.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group"
                         ng-class="{ 'has-error' : formUsersEdit.userRole.$invalid && !formUsersEdit.userRole.$pristine }">
                        <label>Cargo</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-shield-security"></i></span>
                            <input type="text"
                                   class="form-control"
                                   name="userRole"
                                   ng-init="user.userData.role = userObject.userData.role"
                                   ng-model="user.userData.role"
                                   placeholder="Cargo"
                                   required>
                        </div>
                        <p ng-show="formUsersEdit.userRole.$invalid && !formUsersEdit.userRole.$pristine"
                           class="help-block">Este Campo es Requerido.</p>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-sm-12">
                    <div class="form-group"
                         ng-class="{ 'has-error' : formUsers.userPassword.$invalid && !formUsers.userPassword.$pristine }">
                        <label>Contraseña</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-key"></i></span>
                            <input type="password"
                                   class="form-control"
                                   name="userPassword"
                                   id="userPassword"
                                   ng-model="user.userPassword"
                                   ng-minlength="8"
                                   ng-maxlength="20"
                                   placeholder="Contraseña"
                                   required>
                        </div>
                        <p ng-show="formUsers.userPassword.$invalid && !formUsers.userPassword.$pristine"
                           class="help-block">La contraseña debe contenet Minimo 8 caracteres.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group"
                         ng-class="{ 'has-error' : formUsers.userPasswordConfirm.$invalid && !formUsers.userPasswordConfirm.$pristine}">
                        <label>Confirme su contraseña</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-check"></i></span>
                            <input type="password"
                                   class="form-control"
                                   name="userPasswordConfirm"
                                   id="userPasswordConfirm"
                                   ng-model="user.passwordConfirm"
                                   placeholder="Confirme su contraseña"
                                   required>
                        </div>
                        <div ng-if="user.userPassword !== user.passwordConfirm">
                            <p class="help-block alert alert-danger">la contraseña no coincide.</p>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
            <button type="submit" ng-class="{'btn btn-primary disabled m-progress':saving, 'btn btn-primary':!saving}"
                    ng-disabled="formUsersEdit.$invalid">Guardar
            </button>
        </div>
    </form>
</div>