<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span
      aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="exampleModalLabel">Detalle Lectura</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
          <img ng-src="{{reading.readingImagePath}}"
               alt="...">
          <div class="caption">
            <h3>Descripcion</h3>
            <div class="t-body tb-padding">
              <p class="lead">{{reading.readingDescription}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cerrar</button>
  </div>
</div>
