<div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span
        aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="exampleModalLabel">Editar Pregunta</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group"
               ng-class="{ 'has-error' : editableForm.questionDescription.$invalid && !editableForm.questionDescription.$pristine }">
            <label>Pregunta</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-more"></i></span>
              <textarea class="form-control" rows="2" name="questionDescription"
                        maxlength="150"
                        ng-init="question.descripion = answers.data.questionDescription"
                        ng-model="question.descripion"
                        required></textarea>
            </div>
            <p ng-show="editableForm.questionDescription.$invalid && !editableForm.questionDescription.$pristine"
               class="help-block">Este Campo es Requerido.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group"
               ng-class="{ 'has-error' : editableForm.questionTopic.$invalid && !editableForm.questionTopic.$pristine }">
            <label>Topic</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-toys"></i></span>
              <select class="form-control" name="questionTopic"
                      ng-init="question.topic = answers.data.topic"
                      ng-options="topic as topic.topicDescription for topic in answers.topics track by topic.topicId"
                      ng-model="question.topic" required>
              </select>
            </div>
            <p ng-show="editableForm.questionTopic.$invalid && !editableForm.questionTopic.$pristine"
               class="help-block">Este Campo es Requerido.</p>
          </div>
        </div>
        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group"
               ng-class="{ 'has-error' : editableForm.questionLevel.$invalid && !editableForm.questionLevel.$pristine }">
            <label>Nivel</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-triangle-down"></i></span>
              <select class="form-control" name="questionLevel"
                      ng-init="question.level = answers.data.level"
                      ng-options="level as level.levelDescription for level in answers.levels track by level.levelId"
                      ng-model="question.level" required>
              </select>
            </div>
            <p ng-show="editableForm.questionLevel.$invalid && !editableForm.questionLevel.$pristine"
               class="help-block">Este Campo es Requerido.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
        <table class="table table-bordered table-hove">
          <thead>
          <tr>
            <th>Respuesta</th>
            <th>Es correcta</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="answerForm in answers.data.answersArray">
            <td>
              <span editable-text="answerForm.answerDescription" e-name="name" e-form="rowform" e-maxlength="50" e-required>{{ answerForm.answerDescription }}</span>
            </td>
            <td><input type="checkbox" ng-model="answerForm.isCorrect"></td>
            <td style="white-space: nowrap">
              <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">Ok</button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">Cancelar</button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary" ng-click="rowform.$show()">Editar</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cerrar</button>
      <button type="submit" ng-click="editQuestion(question, answers.data.answersArray)" ng-class="{'btn btn-primary disabled m-progress':saving, 'btn btn-primary':!saving}" ng-disabled="editableForm.$invalid && editableForm.$waiting">Modificar
      </button>
    </div>
</div>
