<div class="modal-content">
  <form ng-submit="EditReading(reading)" name="formEditReading" novalidate>
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="exampleModalLabel">Nueva Lectura</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="fileinput"
               ng-class="{ 'has-error' : formEditReading.readingImage.$invalid && !formEditReading.readingImage.$pristine }">
            <div class="fileinput-preview thumbnail">
              <div for="image-picker">
                <br>
                <img id="image-preview" ng-src="{{readingData.readingImagePath}}" ng-show="!reading.image"/>
                <img width="500" height="200" ng-src="{{readingData.readingImagePath}}" ngf-thumbnail="reading.image"/>
              </div>
            </div>
            <input id="image-picker"
                   type="file"
                   ngf-select
                   ng-model="reading.image"
                   name="readingImage"
                   accept="image/*"
                   ngf-ratio="500x200"
                   ngf-max-size="2MB"
                   ngf-model-invalid="errorFile"/>
            <p ng-show="formEditReading.readingImage.$invalid && !formEditReading.readingImage.$pristine"
               class="help-block">La imagen debe ser exactamente de 500 x 200.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
          <div class="form-group"
               ng-class="{ 'has-error' : formEditReading.readingTopic.$invalid && !formEditReading.readingTopic.$pristine }">
            <label>Topic</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-toys"></i></span>
              <select class="form-control"
                      ng-init="reading.topic = readingData.topic"
                      name="readingTopic"
                      ng-options="topic as topic.topicDescription for topic in questionTopics track by topic.topicId"
                      ng-model="reading.topic" required>
                <option ng-if="questionTopics.length > 1" value="" selected></option>
              </select>
            </div>
            <p ng-show="formEditReading.readingTopic.$invalid && !formEditReading.readingTopic.$pristine"
               class="help-block">Este Campo es Requerido.</p>
          </div>
        </div>
        <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
          <div class="form-group"
               ng-class="{ 'has-error' : formEditReading.readingLevel.$invalid && !formEditReading.readingLevel.$pristine }">
            <label>Nivel</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-triangle-down"></i></span>
              <select class="form-control"
                      ng-init="reading.level = readingData.level"
                      name="readingLevel"
                      ng-options="level as level.levelDescription for level in questionLevels track by level.levelId"
                      ng-model="reading.level" required>
                <option ng-if="questionLevels.length > 1" value="" selected></option>
              </select>
            </div>
            <p ng-show="formEditReading.readingLevel.$invalid && !formEditReading.readingLevel.$pristine"
               class="help-block">Este Campo es Requerido.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group"
               ng-class="{ 'has-error' : formEditReading.readingDescription.$invalid && !formEditReading.readingDescription.$pristine }">
            <label>Descripcion</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-more"></i></span>
              <textarea class="form-control"
                        ng-init="reading.description = readingData.readingDescription"
                        rows="5"
                        name="readingDescription"
                        id="userPassword"
                        ng-maxlength="500"
                        ng-model="reading.description"
                        placeholder="Descripcion"
                        required></textarea>
            </div>
            <p ng-show="formEditReading.readingDescription.$invalid && !formEditReading.readingDescription.$pristine"
               class="help-block">Solo puede ingresar un maximo de 500 caracteres.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
      <button type="submit" ng-class="{'btn btn-primary disabled m-progress':saving, 'btn btn-primary':!saving}"
              ng-disabled="formEditReading.$invalid">Guardar
      </button>
    </div>
  </form>
</div>
