<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span
      aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="exampleModalLabel"> Resultado prueba final</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered table-condensed">
            <thead>
            <tr>
              <th>Nivel</th>
              <th>Respuestas Correctas</th>
              <th>Respuestas Incorrectas</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in finalTestResults">
              <td ng-class="{'success' : $last}">{{result.level.levelDescription}}</td>
              <td ng-class="{'success' : $last}">{{result.rightAnswers}}</td>
              <td ng-class="{'success' : $last}">{{result.wrongAnswers}}</td>
            </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cerrar</button>
  </div>
</div>
