<div class="modal-content">
  <form ng-submit="editNews(newsEdit)" name="formEditNews" novalidate>
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="exampleModalLabel">Editar Noticia</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="fileinput"
               ng-class="{ 'has-error' : formEditNews.newsImage.$invalid && !formEditNews.newsImage.$pristine }">
            <div class="fileinput-preview thumbnail">
              <div for="image-picker">
                <br>
                <img id="image-preview" ng-src="{{newsData.newsImagePath}}" ng-show="!newsEdit.image"/>
                <img width="500" height="235" ng-src="{{newsData.newsImagePath}}" ngf-thumbnail="newsEdit.image"/>
              </div>
            </div>
            <input id="image-picker"
                   type="file"
                   ngf-select
                   ng-model="newsEdit.image"
                   ngf-ratio="500x235"
                   name="newsImage"
                   accept="image/*"
                   ngf-max-size="2MB"
                   ngf-model-invalid="errorFile"/>
            <p ng-show="formEditNews.newsImage.$invalid && !formEditNews.newsImage.$pristine"
               class="help-block">La imagen debe ser exactamente de 500 x 235.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group"
               ng-class="{ 'has-error' : formEditNews.newsEditTitle.$invalid && !formEditNews.newsEditTitle.$pristine }">
            <label>Titulo</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
              <input type="text"
                     class="form-control"
                     name="newsEditTitle"
                     ng-init="newsEdit.title = newsData.newsTitle"
                     ng-model="newsEdit.title"
                     ng-maxlength="50"
                     placeholder="Titulo"
                     required>
            </div>
            <p ng-show="formEditNews.newsEditTitle.$invalid && !formEditNews.newsEditTitle.$pristine"
               class="help-block">Este campo no puede estar vacio ni ser mayor a 50 caracteres.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group"
               ng-class="{ 'has-error' : formEditNews.newsEditDescription.$invalid && !formEditNews.newsEditDescription.$pristine }">
            <label>Descripcion</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-more"></i></span>
              <textarea class="form-control" rows="5"
                        name="newsEditDescription"
                        id="userPassword" ng-maxlength="500"
                        ng-init="newsEdit.description = newsData.newsDescription"
                        ng-model="newsEdit.description"
                        placeholder="Descripcion"
                        required></textarea>
            </div>
            <p ng-show="formEditNews.newsEditDescription.$invalid && !formEditNews.newsEditDescription.$pristine"
               class="help-block">Solo puede ingresar un maximo de 500 caracteres.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
      <button type="submit" ng-class="{'btn btn-primary disabled m-progress':saving, 'btn btn-primary':!saving}"
              ng-disabled="formEditNews.$invalid">Guardar
      </button>
    </div>
  </form>
</div>

