<div ng-show="loanding"><img class="img-responsive center-block"
                             src="http://envyus.com.au/themes/envyus/images/ajax-loader.gif" height="400" width="580">
</div>
<div class="tile" ng-hide="loanding">
  <div class="t-header bg-ace">
    <div class="th-title">
      <button class="btn btn-success btn-icon-text" data-toggle="modal" data-target="#registerModal"><i
        class="zmdi zmdi-alert-polygon"></i> Nueva Noticia
      </button>
    </div>
  </div>

  <div class="t-body tb-padding">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Titulo</th>
          <th>Fecha de Creacion</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="new in newsArray | filter:search | questions:(currentPage - 1) * pageSize | limitTo: pageSize">
          <td>{{new.newsTitle}}</td>
          <td>{{new.createAt}}</td>
          <td>
            <button class="btn btn-info" ng-click="detailNews(new)"><i class="zmdi zmdi-eye"></i></button>
            <button class="btn btn-primary" ng-click="editNews(new)"><i class="zmdi zmdi-edit"></i></button>
            <button class="btn btn-danger" ng-click="deleteNews(new)"><i
              class="zmdi zmdi-delete"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <ul uib-pagination boundary-links="true" total-items="newsArray.length" ng-model="currentPage"
          class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
          last-text="&raquo;"></ul>
    </div>

  </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <form ng-submit="addNews(news)" name="formAddNews" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Nueva Noticia</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="fileinput"
                   ng-class="{ 'has-error' : formAddNews.newsImage.$invalid && !formAddNews.newsImage.$pristine }">
                <div class="fileinput-preview thumbnail">
                  <div for="image-picker">
                    <br>
                    <img id="image-preview"/>
                    <h1 id="previewImage"><small>Imagen en formato(.jpg)<br>500 X 235</small></h1>
                  </div>
                </div>
                <input id="image-picker"
                       type="file"
                       ngf-select
                       ng-model="news.image"
                       name="newsImage"
                       accept="image/*"
                       ngf-ratio="500x235"
                       ngf-max-size="2MB"
                       required
                       ngf-model-invalid="errorFile"/>
                <p ng-show="formAddNews.newsImage.$invalid && !formAddNews.newsImage.$pristine"
                   class="help-block">La imagen debe ser exactamente de 500 x 235.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group"
                   ng-class="{ 'has-error' : formAddNews.newsTitle.$invalid && !formAddNews.newsTitle.$pristine }">
                <label>Titulo</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                  <input type="text"
                         class="form-control"
                         name="newsTitle"
                         ng-model="news.title"
                         placeholder="Titulo"
                         ng-maxlength="50"
                         required>
                </div>
                <p ng-show="formAddNews.newsTitle.$invalid && !formAddNews.newsTitle.$pristine"
                   class="help-block">Este campo no puede estar vacio ni ser mayor a 50 caracteres.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group"
                   ng-class="{ 'has-error' : formAddNews.newsDescription.$invalid && !formAddNews.newsDescription.$pristine }">
                <label>Descripcion</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-more"></i></span>
                  <textarea class="form-control" rows="5"
                            name="newsDescription"
                            id="userPassword" ng-maxlength="500"
                            ng-model="news.description"
                            placeholder="Descripcion"
                            required></textarea>
                </div>
                <p ng-show="formAddNews.newsDescription.$invalid && !formAddNews.newsDescription.$pristine"
                   class="help-block">Solo puede ingresar un maximo de 500 caracteres.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" ng-class="{'btn btn-primary disabled m-progress':saving, 'btn btn-primary':!saving}"
                  ng-disabled="formAddNews.$invalid">Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
