<div class="tile" id="profile-main">
  <div class="pm-overview c-overflow-dark">
    <div class="pmo-pic">
      <div class="p-relative">
        <a href="#">
          <img class="img-responsive" src="http://ciolasa.azurewebsites.net/Content/img/LogoLASAOriginal.png" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="pm-body clearfix">
    <form editable-form name="editableForm" onaftersave="saveUser()">
      <div class="pmb-block">
        <div class="pmbb-header">
          <h2><i class="zmdi zmdi-account zmdi-hc-2x"></i> Datos personales</h2>
          <ul class="actions">
            <li class="dropdown">
              <a data-toggle="dropdown">
                <i class="zmdi zmdi-more-vert"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <button type="button" class="btn btn-link btn-block" ng-click="editableForm.$show()"
                          ng-show="!editableForm.$visible">
                    Editar
                  </button>
                  <button type="button" class="btn btn-link btn-block" ng-show="editableForm.$visible"
                          ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                    Cancelar
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="pmbb-body p-l-30">
          <div class="pmbb-view">
            <dl class="dl-horizontal">
              <dt>Nombres</dt>
              <dd ng-class="{ 'has-error' : editableForm.userName.$invalid && !editableForm.userName.$pristine }">
                <span editable-text="user.userData.name" e-name="userName" e-placeholder="Nombres"
                      e-style="width:400px;" e-required>{{ user.userData.name }}</span>
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Apellidos</dt>
              <dd
                ng-class="{ 'has-error' : editableForm.userLastName.$invalid && !editableForm.userLastName.$pristine }">
                <span editable-text="user.userData.lastName" e-name="userLastName" e-placeholder="Apellidos"
                      e-style="width:400px;" e-required>{{ user.userData.lastName }}</span>
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Correo</dt>
              <dd ng-class="{ 'has-error' : editableForm.userEmail.$invalid && !editableForm.userEmail.$pristine }">
                <span editable-text="user.userData.email" e-name="userEmail" e-placeholder="Email"
                      e-style="width:400px;" e-disabled>{{ user.userData.email }}</span>
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Cargo</dt>
              <dd ng-class="{ 'has-error' : editableForm.userRole.$invalid && !editableForm.userRole.$pristine }">
                <span editable-text="user.userData.role" e-name="userRole" e-placeholder="Cargo" e-style="width:400px;"
                      e-required>{{ user.userData.role }}</span>
              </dd>
            </dl>
            <div class="m-t-30" ng-show="editableForm.$visible">
              <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$invalid">Modificar</button>
              <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting"
                      ng-click="editableForm.$cancel()">Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="pmb-block">
      <div class="pmbb-header">
        <h2><i class="zmdi zmdi-key zmdi-hc-2x"></i> Datos de acceso</h2>
        <ul class="actions">
          <li class="dropdown">
            <a data-toggle="dropdown">
              <i class="zmdi zmdi-more-vert"></i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li>
                <button type="button" class="btn btn-link btn-block" ng-click="showFrom()" ng-show="!visibleForm">
                  Editar
                </button>
                <button type="button" class="btn btn-link btn-block" ng-show="visibleForm" ng-click="hideFrom()">
                  Cancelar
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="pmbb-body p-l-30">
        <div class="pmb-edit" ng-show="visibleForm">
          <form name="formEditAccess" ng-submit="saveAccess(access)" novalidate>
            <dl class="dl-horizontal">
              <dt class="p-t-10">Contraseña Anterior</dt>
              <dd
                ng-class="{
                'has-error' : formEditAccess.oldPassword.$invalid && !formEditAccess.oldPassword.$pristine || !validOldPassword,
                'has-success' : !formEditAccess.oldPassword.$invalid && formEditAccess.oldPassword.$pristine || validOldPassword
                 }">
                <div class="fg-line form-group has-feedback">
                  <input type="password"
                         name="oldPassword"
                         class="form-control"
                         ng-disabled="loandingPassword"
                         ng-model="access.oldPassword"
                         ng-blur="verifyPassword(access.oldPassword)"
                         placeholder="Contraseña Anterior" required>
                  <span ng-show="loandingPassword" class="loadPassword form-control-feedback" aria-hidden="true"></span>
                </div>
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt class="p-t-10">Nueva Contraseña</dt>
              <dd
                ng-class="{ 'has-error' : formEditAccess.newPassword.$invalid && !formEditAccess.newPassword.$pristine }">
                <div class="fg-line">
                  <input type="password"
                         name="newPassword"
                         class="form-control"
                         ng-model="access.newPassword"
                         ng-minlength="8"
                         ng-maxlength="20"
                         placeholder="Nueva Contraseña" required>
                  <p ng-show="formEditAccess.newPassword.$invalid && !formEditAccess.newPassword.$pristine"
                     class="help-block">La contraseña debe contenet Minimo 8 caracteres.</p>
                </div>
              </dd>
            </dl>
            <dl class="dl-horizontal">
              <dt class="p-t-10">Confirme la contraseña</dt>
              <dd
                ng-class="{ 'has-error' : formEditAccess.confirmPassword.$invalid && !formEditAccess.confirmPassword.$pristine }">
                <div class="fg-line">
                  <input type="password"
                         name="confirmPassword"
                         class="form-control"
                         ng-model="access.confirmPassword"
                         placeholder="Confirme la contraseña" required>
                  <div ng-if="access.newPassword !== access.confirmPassword">
                    <p class="text-danger">La contraseña no coincide.</p>
                  </div>
                </div>
              </dd>
            </dl>
            <div class="m-t-30">
              <button type="submit"
                      class="btn btn-primary"
                      ng-disabled="formEditAccess.$invalid || !validOldPassword || access.newPassword !== access.confirmPassword"
                      ng-class="{'btn btn-primary m-progress':savingAccess, 'btn btn-primary':!savingAccess}">
                Modificar
              </button>
              <button type="button" class="btn btn-default" ng-click="closeForm()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



