<div ng-show="loanding"><img class="img-responsive center-block"
                             src="http://envyus.com.au/themes/envyus/images/ajax-loader.gif" height="400" width="580">
</div>
<div class="tile" ng-hide="loanding">
  <div class="t-header bg-ace">
    <div class="th-title">
      <button class="btn btn-success btn-icon-text" data-toggle="modal" data-target="#registerModal"><i
        class="zmdi zmdi-notifications"></i> Nueva notificacion
      </button>
    </div>
  </div>

  <div class="t-body tb-padding">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Usuario</th>
          <th>Titulo</th>
          <th>Mensaje</th>
          <th>Fecha de envio</th>
          <!--<th>Acciones</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="notification in notifications | filter:search | questions:(currentPage - 1) * pageSize | limitTo: pageSize">
          <td>{{notification.userData.name}}  {{notification.userData.lastName}}</td>
          <td>{{notification.pushNotificationData.title}}</td>
          <td>{{notification.pushNotificationData.description}}</td>
          <td>{{notification.pushNotificationData.createAt}}</td>
          <!--<td>
            <button class="btn btn-danger" ng-click="deleteNews(new)"><i class="zmdi zmdi-delete"></i></button>
          </td>-->
        </tr>
        </tbody>
      </table>
      <ul uib-pagination boundary-links="true" total-items="notifications.length" ng-model="currentPage"
          class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
          last-text="&raquo;"></ul>
    </div>

  </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <form ng-submit="sendNotifications(notification)" name="formNotifications" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Nueva notificacion</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group"
                   ng-class="{ 'has-error' : formNotifications.notificationsTitle.$invalid && !formNotifications.notificationsTitle.$pristine }">
                <label>Titulo</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-notifications"></i></span>
                  <input type="text"
                         class="form-control"
                         name="notificationsTitle"
                         ng-model="notification.title"
                         placeholder="Titulo"
                         ng-maxlength="50"
                         required>
                </div>
                <p ng-show="formNotifications.notificationsTitle.$invalid && !formNotifications.notificationsTitle.$pristine"
                   class="help-block">Este campo no puede estar vacio ni ser mayor a 50 caracteres.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group"
                   ng-class="{ 'has-error' : formNotifications.notificationsDescription.$invalid && !formNotifications.notificationsDescription.$pristine }">
                <label>Mensaje</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-more"></i></span>
                  <textarea class="form-control" rows="5"
                            name="notificationsDescription"
                            id="userPassword" ng-maxlength="120"
                            ng-model="notification.description"
                            placeholder="Mensaje"
                            required></textarea>
                </div>
                <p ng-show="formNotifications.notificationsDescription.$invalid && !formNotifications.notificationsDescription.$pristine"
                   class="help-block">Solo puede ingresar un maximo de 120 caracteres.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" ng-class="{'btn btn-primary disabled m-progress':saving, 'btn btn-primary':!saving}"
                  ng-disabled="formNotifications.$invalid">Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

