<div ng-show="loanding"><img class="img-responsive center-block" src="http://envyus.com.au/themes/envyus/images/ajax-loader.gif" height="400" width="580"></div>
<div class="tile" ng-hide="loanding">
  <div class="t-header bg-ace">
    <div class="th-title">
      <button class="btn btn-success btn-icon-text" data-toggle="modal" data-target="#exampleModal"><i
        class="zmdi zmdi-plus-circle"></i> Nueva
      </button>
    </div>
  </div>

  <div class="t-body tb-padding">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right">
        <select class="form-control" name="questionTopicFilter"
                ng-options="level as level.levelDescription for level in questionLevels track by level.levelId"
                ng-model="search.level" required>
          <option></option>
        </select>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right">
        <select class="form-control" name="questionTopicFilter"
                ng-options="topic as topic.topicDescription for topic in questionTopics track by topic.topicId"
                ng-model="search.topic" required>
          <option></option>
        </select>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
        <h4>Fitros: </h4>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hove">
            <thead>
            <tr>
              <th>Pregunta</th>
              <th>Topico</th>
              <th>Nivel</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="question in questionsList | filter:search | questions:(currentPage - 1) * pageSize | limitTo: pageSize">
              <td width="50%">
                <div class="truncate-ellipsis">
                    <span>{{question.questionDescription}}</span>
                </div>
              </td>
              <td>{{question.topic.topicDescription}}</td>
              <td>{{question.level.levelDescription}}</td>
              <td>
                <button class="btn btn-info" ng-click="detailQuestion(question)"><i class="zmdi zmdi-eye"></i></button>
                <button class="btn btn-primary" ng-click="editQuestion(question)"><i class="zmdi zmdi-edit"></i></button>
                <button class="btn btn-danger" ng-click="deleteQuestion(question.questionId, question)"><i class="zmdi zmdi-delete"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
          <ul uib-pagination boundary-links="true" total-items="questionsList.length" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form ng-submit="newQuestion(question)" name="formQuestion" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Nueva Pregunta</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group"
                   ng-class="{ 'has-error' : formQuestion.questionDescription.$invalid && !formQuestion.questionDescription.$pristine }">
                <label>Pregunta</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-more"></i></span>
                  <textarea class="form-control" rows="1" name="questionDescription"
                            class="form-control"
                            ng-model="question.descripion"
                            ng-maxlength="200"
                            placeholder="Pregunta"
                            required></textarea>
                </div>
                <p ng-show="formQuestion.questionDescription.$invalid && !formQuestion.questionDescription.$pristine"
                   class="help-block">Este campo no puede estar vacio ni ser mayor de 200 caracteres</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group"
                   ng-class="{ 'has-error' : formQuestion.questionTopic.$invalid && !formQuestion.questionTopic.$pristine }">
                <label>Topic</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-toys"></i></span>
                  <select class="form-control" name="questionTopic"
                          ng-options="topic as topic.topicDescription for topic in questionTopics track by topic.topicId"
                          ng-model="question.topic" required>
                    <option ng-if="questionTopics.length > 1" value="" selected></option>
                  </select>
                </div>
                <p ng-show="formQuestion.questionTopic.$invalid && !formQuestion.questionTopic.$pristine"
                   class="help-block">Este Campo es Requerido.</p>
              </div>
            </div>
            <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group"
                   ng-class="{ 'has-error' : formQuestion.questionLevel.$invalid && !formQuestion.questionLevel.$pristine }">
                <label>Nivel</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-triangle-down"></i></span>
                  <select class="form-control" name="questionLevel"
                          ng-options="level as level.levelDescription for level in questionLevels track by level.levelId"
                          ng-model="question.level" required>
                    <option ng-if="questionLevels.length > 1" value="" selected></option>
                  </select>
                </div>
                <p ng-show="formQuestion.questionLevel.$invalid && !formQuestion.questionLevel.$pristine"
                   class="help-block">Este Campo es Requerido.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10">
              <div class="form-group"
                   ng-class="{ 'has-error' : formQuestion.questionAnswer.$invalid && !formQuestion.questionDescription.$pristine }">
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-tag"></i></span>
                  <input type="text" name="questionAnswer" class="form-control"
                         ng-maxlength="140"
                         ng-model="question.answer" placeholder="Respuesta">
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary btn-sm" ng-click="addAnswers(question.answer)">
                <i class="zmdi zmdi-plus-circle"></i></button>
            </div>
          </div>
          <div class="row">
            <table class="table table-bordered table-hove" ng-hide="listAnswer">
              <thead>
              <tr>
                <th>Respuesta</th>
                <th>Es correcta</th>
                <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="answerForm in answersRequest">
                <td>{{answerForm.answerDescription}}</td>
                <td><input type="checkbox" ng-model="answerForm.isCorrect"></td>
                <td>
                  <button type="button" class="btn btn-danger" ng-click="deleteAnswer($index)"><i class="zmdi zmdi-close"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" ng-class="{'btn btn-primary disabled m-progress':saving, 'btn btn-primary':!saving}" ng-disabled="formQuestion.$invalid">Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
