<div ng-show="loanding"><img class="img-responsive center-block"
                             src="http://envyus.com.au/themes/envyus/images/ajax-loader.gif" height="400" width="580">
</div>
<div class="tile" ng-hide="loanding">
  <div class="t-header bg-ace">
    <div class="th-title">
      <button class="btn btn-success btn-icon-text" data-toggle="modal" data-target="#registerModal"><i
        class="zmdi zmdi-assignment"></i> Nueva Lectura
      </button>
    </div>
  </div>

  <div class="t-body tb-padding">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right">
        <select class="form-control" name="questionTopicFilter"
                ng-options="level as level.levelDescription for level in questionLevels track by level.levelId"
                ng-model="search.level" required>
          <option></option>
        </select>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right">
        <select class="form-control" name="questionTopicFilter"
                ng-options="topic as topic.topicDescription for topic in questionTopics track by topic.topicId"
                ng-model="search.topic" required>
          <option></option>
        </select>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
        <h4>Fitros: </h4>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right"></div>
    </div>
    <br>
    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Descripcion</th>
            <th>Topico</th>
            <th>Nivel</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr
            ng-repeat="reading in readingsArray | filter:search | questions:(currentPage - 1) * pageSize | limitTo: pageSize">
            <td width="30%">
              <div class="truncate-ellipsis">
                <span>{{reading.readingDescription}}</span>
              </div>
            </td>
            <td>{{reading.topic.topicDescription}}</td>
            <td>{{reading.level.levelDescription}}</td>
            <td>
              <button class="btn btn-info" ng-click="detailReading(reading)"><i class="zmdi zmdi-eye"></i></button>
              <button class="btn btn-primary" ng-click="editReading(reading)"><i class="zmdi zmdi-edit"></i></button>
              <button class="btn btn-danger" ng-click="deleteReading(reading)"><i class="zmdi zmdi-delete"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
        <ul uib-pagination boundary-links="true" total-items="readingsArray.length" ng-model="currentPage"
            class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
            last-text="&raquo;"></ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <form ng-submit="addReading(reading)" name="formAddReading" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Nueva Lectura</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="fileinput"
                   ng-class="{ 'has-error' : formAddReading.readingImage.$invalid && !formAddReading.readingImage.$pristine }">
                <div class="fileinput-preview thumbnail">
                  <div for="image-picker-reading">
                    <br>
                    <img id="image-preview-reading"/>
                    <h1 id="previewImageReading">
                      <small>Imagen en formato(.jpg)<br>500 X 200</small>
                    </h1>
                  </div>
                </div>
                <input id="image-picker-reading"
                       type="file"
                       ngf-select
                       ng-model="reading.image"
                       name="readingImage"
                       accept="image/*"
                       ngf-ratio="500x200"
                       ngf-max-size="2MB"
                       required
                       ngf-model-invalid="errorFile"/>
                <p ng-show="formAddReading.readingImage.$invalid && !formAddReading.readingImage.$pristine"
                   class="help-block">La imagen debe ser exactamente de 500 x 200.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group"
                   ng-class="{ 'has-error' : formAddReading.readingTopic.$invalid && !formAddReading.readingTopic.$pristine }">
                <label>Topic</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-toys"></i></span>
                  <select class="form-control" name="readingTopic"
                          ng-options="topic as topic.topicDescription for topic in questionTopics track by topic.topicId"
                          ng-model="reading.topic" required>
                    <option ng-if="questionTopics.length > 1" value="" selected></option>
                  </select>
                </div>
                <p ng-show="formAddReading.readingTopic.$invalid && !formAddReading.readingTopic.$pristine"
                   class="help-block">Este Campo es Requerido.</p>
              </div>
            </div>
            <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group"
                   ng-class="{ 'has-error' : formAddReading.readingLevel.$invalid && !formAddReading.readingLevel.$pristine }">
                <label>Nivel</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-triangle-down"></i></span>
                  <select class="form-control" name="readingLevel"
                          ng-options="level as level.levelDescription for level in questionLevels track by level.levelId"
                          ng-model="reading.level" required>
                    <option ng-if="questionLevels.length > 1" value="" selected></option>
                  </select>
                </div>
                <p ng-show="formAddReading.readingLevel.$invalid && !formAddReading.readingLevel.$pristine"
                   class="help-block">Este Campo es Requerido.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group"
                   ng-class="{ 'has-error' : formAddReading.readingDescription.$invalid && !formAddReading.readingDescription.$pristine }">
                <label>Descripcion</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-more"></i></span>
                  <textarea class="form-control" rows="5"
                            name="readingDescription"
                            id="userPassword" ng-maxlength="500"
                            ng-model="reading.description"
                            placeholder="Descripcion"
                            required></textarea>
                </div>
                <p ng-show="formAddReading.readingDescription.$invalid && !formAddReading.readingDescription.$pristine"
                   class="help-block">Solo puede ingresar un maximo de 500 caracteres.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" ng-class="{'btn btn-primary disabled m-progress':saving, 'btn btn-primary':!saving}"
                  ng-disabled="formAddReading.$invalid">Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

