<div class="login-content">
<div class="lc-block lcb-alt toggled" id="l-lockscreen">
  <form ng-submit="restorePassword(recover)" name="formUserRecover" novalidate>
    <div class="lcb-float"><i class="zmdi zmdi-pin-account"></i></div>
    <div class="form-group"
         ng-class="{ 'has-error' : formUserRecover.newPassword.$invalid && !formUserRecover.newPassword.$pristine }">
      <input type="password"
             class="form-control"
             placeholder="Nueva Contraseña"
             ng-model="recover.newPassword"
             name="newPassword"
             ng-minlength="8"
             ng-maxlength="20"
             required>
      <p ng-show="formUserRecover.newPassword.$invalid && !formUserRecover.newPassword.$pristine"
         class="help-block">La contraseña debe contener almenos 8 caracteres.</p>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error' : formUserRecover.confirmPassword.$invalid && !formUserRecover.confirmPassword.$pristine }">
      <input type="password"
             name="confirmPassword"
             class="form-control"
             placeholder="Confirmar la contraseña"
             ng-model="recover.confirmPassword"
             required>
      <p ng-show="formUserRecover.confirmPassword.$invalid && !formUserRecover.confirmPassword.$pristine"
         class="help-block">Este Campo es Requerido.</p>
      <div ng-if="recover.newPassword !== recover.confirmPassword">
        <p class="text-danger">La contraseña no coincide.</p>
      </div>
    </div>
    <div class="form-group">
      <button type="submit"
              ng-class="{'btn btn-block btn-primary btn-float m-t-25 disabled m-progress':loading, 'btn btn-block btn-primary btn-float m-t-25':!loading}"
              ng-disabled="formUserRecover.$invalid">Guardar
      </button>
    </div>
  </form>
</div>
</div>
