<div ng-show="loanding"><img class="img-responsive center-block"
                             src="http://envyus.com.au/themes/envyus/images/ajax-loader.gif" height="400" width="580">
</div>
<div class="tile" ng-hide="loanding">
  <div class="t-header bg-ace">
    <div class="th-title">
      <button class="btn btn-success btn-icon-text" data-toggle="modal" data-target="#registerModal"><i
        class="zmdi zmdi-account-add"></i> Nuevo Usuario
      </button>
    </div>
  </div>

  <div class="t-body tb-padding">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Cargo</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in usersAdmins">
          <td>{{user.userData.name}}</td>
          <td>{{user.userData.lastName}}</td>
          <td>{{user.userData.email}}</td>
          <td>{{user.userData.role}}</td>
          <td>
            <!--<button class="btn btn-info" ng-click=""><i class="zmdi zmdi-eye"></i></button>-->
            <button class="btn btn-primary" ng-click="editUser(user)"><i class="zmdi zmdi-edit"></i></button>
            <button class="btn btn-danger" ng-click="deleteUser(user)"><i
              class="zmdi zmdi-delete"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <form ng-submit="addUser(user)" name="formUsers" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Nuevo Usuario</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"
                   ng-class="{ 'has-error' : formUsers.userName.$invalid && !formUsers.userName.$pristine }">
                <label>Nombres</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-face"></i></span>
                  <input type="text" class="form-control" name="userName"
                         ng-model="user.name"
                         placeholder="Nombres"
                         required>
                </div>
                <p ng-show="formUsers.userName.$invalid && !formUsers.userName.$pristine"
                   class="help-block">Este Campo es Requerido.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"
                   ng-class="{ 'has-error' : formUsers.lastName.$invalid && !formUsers.lastName.$pristine }">
                <label>Apellidos</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-accounts-list-alt"></i></span>
                  <input type="text" class="form-control" name="lastName"
                         ng-model="user.lastName"
                         placeholder="Apellidos"
                         required>
                </div>
                <p ng-show="formUsers.lastName.$invalid && !formUsers.lastName.$pristine"
                   class="help-block">Este Campo es Requerido.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"
                   ng-class="{ 'has-error' : formUsers.userEmail.$invalid && !formUsers.userEmail.$pristine }">
                <label>Correo</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                  <input type="email" class="form-control" name="userEmail"
                         ng-model="user.email"
                         placeholder="Correo"
                         required>
                </div>
                <p ng-show="formUsers.userEmail.$invalid && !formUsers.userEmail.$pristine"
                   class="help-block">Ingrese un correo valido.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"
                   ng-class="{ 'has-error' : formUsers.userRole.$invalid && !formUsers.userRole.$pristine }">
                <label>Cargo</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-shield-security"></i></span>
                  <input type="text" class="form-control" name="userRole"
                         ng-model="user.role"
                         placeholder="Cargo"
                         required>
                </div>
                <p ng-show="formUsers.userRole.$invalid && !formUsers.userRole.$pristine"
                   class="help-block">Este Campo es Requerido.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group"
                   ng-class="{ 'has-error' : formUsers.userPassword.$invalid && !formUsers.userPassword.$pristine }">
                <label>Contraseña</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-key"></i></span>
                  <input type="password"
                         class="form-control"
                         name="userPassword"
                         id="userPassword"
                         ng-model="user.userPassword"
                         ng-minlength="8"
                         ng-maxlength="20"
                         placeholder="Contraseña"
                         required>
                </div>
                <p ng-show="formUsers.userPassword.$invalid && !formUsers.userPassword.$pristine"
                   class="help-block">La contraseña debe contenet Minimo 8 caracteres.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group"
                   ng-class="{ 'has-error' : formUsers.userPasswordConfirm.$invalid && !formUsers.userPasswordConfirm.$pristine}">
                <label>Confirme su contraseña</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="zmdi zmdi-check"></i></span>
                  <input type="password"
                         class="form-control"
                         name="userPasswordConfirm"
                         id="userPasswordConfirm"
                         ng-model="user.passwordConfirm"
                         placeholder="Confirme su contraseña"
                         required>
                </div>
                <div ng-if="user.userPassword !== user.passwordConfirm">
                  <p class="help-block alert alert-danger">la contraseña no coincide.</p>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="row">
            <table class="table table-bordered table-hove" ng-hide="listAnswer">
              <thead>
              <tr>
                <th>Respuesta</th>
                <th>Es correcta</th>
                <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="answerForm in answersRequest">
                <td>{{answerForm.answerDescription}}</td>
                <td><input type="checkbox" ng-model="answerForm.isCorrect"></td>
                <td>
                  <button type="button" class="btn btn-danger" ng-click="deleteAnswer($index)"><i
                    class="zmdi zmdi-close"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" ng-class="{'btn btn-primary disabled m-progress':saving, 'btn btn-primary':!saving}"
                  ng-disabled="formUsers.$invalid">Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

