<div ng-show="loanding">
  <img class="img-responsive center-block"
       src="http://envyus.com.au/themes/envyus/images/ajax-loader.gif"
       height="400"
       width="580">
</div>
<div class="container-fluid" ng-hide="loanding">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-ls-4">
      <a href="#" class="thumbnail">
        <img
          ng-src="{{userDetailData.userData.userImage === null ? 'http://images.iimg.in/c/569f4771c45d324bda8b4660-4-501-0-1453279096/google/user-icon-png-pnglogocom.img?crop=1' : userDetailData.userData.userImage}}"
          width="100%">
      </a>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-ls-4">
      <div class="form-group">
        <h4>Nombres: {{userDetailData.userData.name}} {{userDetailData.userData.lastName}}</h4>
      </div>
      <div class="form-group">
        <h4>Documento: {{userDetailData.userData.identificationNumber}}</h4>
      </div>
      <div class="form-group">
        <h4>Correo: {{userDetailData.userData.email}}</h4>
      </div>
      <div class="form-group">
        <h4>Nivel: {{userDetailData.userLevel.levelDescription}}</h4>
      </div>
      <div class="form-group">
        <h4>Tiempo jugado: {{userDetailData.userStatistics.timePlayed}}</h4>
      </div>
      <div class="form-group">
        <h4>Logros ganados: {{userDetailData.userStatistics.achievementsUnlocked}}</h4>
      </div>
      <!--<div class="form-group">
        <h1><img src="../images/medal.png" width="10%"> 6</h1>
      </div>-->
      <div class="form-group">
        <button class="btn btn-warning" data-toggle="modal" data-target="#exampleModal"><i
          class="zmdi zmdi-email zmdi-hc-lg"></i></button>
        <button type="button"
                ng-click="enableDisabled(userDetailData.userData.haveFinalTestAccess)"
                data-toggle="tooltip"
                data-placement="bottom"
                title="{{userDetailData.userData.haveFinalTestAccess ? 'Inhabilitar Evaluación final' : 'Habilitar Evaluación final'}}"
                ng-class="{'btn btn-danger':userDetailData.userData.haveFinalTestAccess, 'btn btn-success':!userDetailData.userData.haveFinalTestAccess}">
          <i
            ng-class="{'zmdi zmdi-lock-outline zmdi-hc-lg':userDetailData.userData.haveFinalTestAccess, 'zmdi zmdi-lock-open zmdi-hc-lg':!userDetailData.userData.haveFinalTestAccess}"></i>
        </button>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-ls-4">
      <div id="container"
           style="min-width: 220px; height: 320px; max-width: 520px; margin: 0 auto"
           ng-hide="userDetailData.userStatistics.challengesWon === 0 && userDetailData.userStatistics.challengesLost === 0"></div>
      <div
        ng-hide="userDetailData.userStatistics.challengesWon > 0 || userDetailData.userStatistics.challengesLost > 0">
        <h4 class="text-center">Duelos</h4>
        <br><br><br><br>
        <h5 class="text-center">El usuario no a jugado duelos</h5>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-ls-4 thumbnail" ng-repeat="level in userLevels">
      <div class="panel-heading"><h2 class="text-center">{{level.level.levelDescription}}</h2></div>
      <div class="panel-body">
        <div ng-if="level.modules.length > 0">
          <div ng-repeat="userDetailLevel in level.modules">
            <div ng-if="userDetailLevel.appModule.appModuleName === 'minijuego'">
              <div>
                <div ng-if="level.level.levelDescription !== 'Evaluacion Final'">
                  <h5>{{userDetailLevel.appModule.appModuleName}} <span class="label label-primary pull-right">{{userDetailLevel.score}} Puntos</span>
                  </h5>
                </div>
                <div ng-if="level.level.levelDescription === 'Evaluacion Final'">
                  <br><br>
                </div>
              </div>
            </div>
            <div ng-if="userDetailLevel.appModule.appModuleName !== 'minijuego'">
              <div ng-if="level.level.levelDescription === 'Evaluacion Final'">
                <h5 class="text-capitalize">{{userDetailLevel.appModule.appModuleName}}: {{(userDetailLevel.score >
                  100)? 100 :
                  userDetailLevel.score}}%</h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                       aria-valuemax="100"
                       style="width: {{(userDetailLevel.score > 100) ? 100 : userDetailLevel.score}}%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger"
                       style="width: {{userDetailLevel.maxScore - userDetailLevel.score}}%">
                    <span class="sr-only">10% Complete (danger)</span>
                  </div>
                </div>
                <br>
              </div>
              <div ng-if="level.level.levelDescription !== 'Evaluacion Final'">
                <h5 class="text-capitalize">{{userDetailLevel.appModule.appModuleName}}: {{(userDetailLevel.score >
                  100)? 100 :
                  userDetailLevel.score}}%</h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                       aria-valuemax="100"
                       style="width: {{(userDetailLevel.score > 100) ? 100 : userDetailLevel.score}}%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                  <div class="progress-bar progress-bar-danger"
                       style="width: {{userDetailLevel.maxScore - userDetailLevel.score}}%">
                    <span class="sr-only">10% Complete (danger)</span>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
          <div ng-if="level.level.levelDescription === 'Evaluacion Final'">
            <h5 class="text-capitalize">porcentaje final: {{level.finalAverage}}%</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                   aria-valuemax="100"
                   style="width: {{(level.finalAverage > 100) ? 100 : level.finalAverage}}%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
              <!--<div class="progress-bar progress-bar-danger"
                   style="width: {{userDetailLevel.maxScore - userDetailLevel.score}}%">
                <span class="sr-only">10% Complete (danger)</span>
              </div>-->
            </div>
            <br>
            <button type="button"
                    ng-disabled="!userDetailData.userData.finalTestResults || userDetailData.userData.finalTestResults.length < 1"
                    class="btn btn-info pull-right"
                    ng-click="modalFinalTestResult(userDetailData.userData.finalTestResults)"
                    title="Resultados prueba final">
              <i class="zmdi zmdi-plus zmdi-hc-lg"></i>
            </button>
            <br><br>
          </div>
        </div>
        <div ng-if="level.modules.length <= 0">
          <div ng-if="level.level.levelDescription !== 'Evaluacion Final'">
            <h5> practica: 0%</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                   aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
            <br>
            <h5> sanciones: 0%</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                   aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
            <br>
            <h5> normas: 0%</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                   aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
            <br>
            <div>
              <div>
                <h5>minijuego <span class="label label-default pull-right">0 Puntos</span></h5>
              </div>
            </div>
          </div>
          <div ng-if="level.level.levelDescription === 'Evaluacion Final'">
            <h5 class="text-capitalize"> normas y sanciones: 0%</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                   aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
            <br>
            <h5 class="text-capitalize"> practica: 0%</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                   aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
            <br>
            <h5 class="text-capitalize"> porcentaje final: 0%</h5>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                   aria-valuemax="100" style="width: 0%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
            <div>
              <br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-ls-12">
      <div class="pull-right">
        <a ng-href="#!/usersApp" class="btn btn-primary">
          <i class="zmdi zmdi-arrow-left"></i> Atras
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <form ng-submit="sendEmail(email)" name="formEmail" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Nuevo Mensaje</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group"
                   ng-class="{ 'has-error' : formEmail.emailAffair.$invalid && !formEmail.emailAffair.$pristine }">
                <label>Asunto</label>
                <input class="form-control"
                       name="emailAffair"
                       ng-model="email.affair"
                       ng-maxlength="70"
                       placeholder="Asunto"
                       required>
                <p ng-show="formEmail.emailAffair.$invalid && !formEmail.emailAffair.$pristine"
                   class="help-block">Este campo no puede estar vacio ni ser mayor de 70 caracteres</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group"
                   ng-class="{ 'has-error' : formEmail.emailMessage.$invalid && !formEmail.emailMessage.$pristine }">
                <label>Mensaje</label>
                <textarea class="form-control"
                          rows="8"
                          name="emailMessage"
                          ng-model="email.message"
                          ng-maxlength="500"
                          placeholder="Mensaje"
                          required></textarea>

                <p ng-show="formEmail.emailMessage.$invalid && !formEmail.emailMessage.$pristine"
                   class="help-block">Este campo no puede estar vacio ni ser mayor de 500 caracteres</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" ng-class="{'btn btn-primary disabled m-progress':saving, 'btn btn-primary':!saving}"
                  ng-disabled="formEmail.$invalid">Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

