<div ng-show="loanding"><img class="img-responsive center-block"
                             src="http://envyus.com.au/themes/envyus/images/ajax-loader.gif" height="400" width="580">
</div>
<div class="tile" ng-hide="loanding">
  <div class="t-header bg-ace">
    <!--<div class="th-title">
      <button class="btn btn-success btn-icon-text" data-toggle="modal" data-target="#registerModal"><i
        class="zmdi zmdi-account-add"></i> Nuevo Usuario
      </button>
    </div>-->
  </div>

  <div class="t-body tb-padding">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pull-right">
        <select class="form-control" name="questionTopicFilter"ng-model="search.isLasaWorker" required>
          <option value="">Ninguna</option>
          <option value="true">Empleados</option>
          <option value="false">Usuarios</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right">
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 name="lastName"
                 ng-model="search.$"
                 placeholder="Nombres, apellidos"
                 required>
          <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right">
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 name="document"
                 ng-model="search.identificationNumber"
                 placeholder="Documento de identidad"
                 required>
          <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 pull-right">
        <h4>Fitros: </h4>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <select class="form-control"
                placeholder="Ordenar Por"
                title="Ordenar Por"
                name="orderBy"
                ng-model="sortExpression">
          <option value="">Ninguna</option>
          <option value="level">Nivel</option>
          <option value="challengesWon">Desafios Ganados</option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Numero de identificacion</th>
            <th>Es empleado de LASA</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr
            ng-repeat="user in usersAppArray | filter:search | questions:(currentPage - 1) * pageSize | limitTo: pageSize | orderBy:mySortFunction:true">
            <td>{{user.name}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.identificationNumber}}</td>
            <td>
              <div class="text-center" ng-if="user.isLasaWorker">
                <p class="text-success">Empleado</p>
              </div>
              <div class="text-center" ng-if="!user.isLasaWorker">
                <p class="text-primary">Usuario</p>
              </div>
            </td>
            <td>
              <a class="btn btn-info" ng-href="#!/usersAppDetail/{{user.userId}}"><i class="zmdi zmdi-eye zmdi-hc-lg"></i></a>
              <button type="button"
                      ng-click="enableDisabled(user.haveFinalTestAccess, user)"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="{{user.haveFinalTestAccess ? 'Inhabilitar Evaluación final' : 'Habilitar Evaluación final'}}"
                      ng-class="{'btn btn-danger':user.haveFinalTestAccess, 'btn btn-success':!user.haveFinalTestAccess}">
                <i ng-class="{'zmdi zmdi-lock-outline zmdi-hc-lg':user.haveFinalTestAccess, 'zmdi zmdi-lock-open zmdi-hc-lg':!user.haveFinalTestAccess}"></i>
              </button>
              <button type="button"
                      ng-click="denyOrGrantAccess(user.access, user)"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="{{user.access ? 'Denegar Acceso' : 'Habilitar Acceso'}}"
                      ng-class="{'btn btn-danger':user.access, 'btn btn-success':!user.access}">
                <i ng-class="{'zmdi zmdi-block-alt zmdi-hc-lg':user.access, 'zmdi zmdi-key zmdi-hc-lg':!user.access}"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <ul uib-pagination boundary-links="true" total-items="usersAppArray.length" ng-model="currentPage"
            class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
            last-text="&raquo;"></ul>
      </div>
    </div>
  </div>
</div>
